In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('Sales-2015.csv')
df2=pd.read_csv('Sales-2016.csv')
df3=pd.read_csv('Sales-2017.csv')
df=pd.concat([df1,df2,df3])

In [3]:
df1.shape

(2630, 8)

In [4]:
df.shape

(56046, 8)

In [5]:
df.head()

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity
0,01 1 2015,09 21 2001,SO45080,332,14657,1,1,1
1,01 1 2015,12 5 2001,SO45079,312,29255,4,1,1
2,01 1 2015,10 29 2001,SO45082,350,11455,9,1,1
3,01 1 2015,11 16 2001,SO45081,338,26782,6,1,1
4,01 2 2015,12 15 2001,SO45083,312,14947,10,1,1

In [8]:
df['CustomerKey'].astype('int')

0        14657
1        29255
2        11455
3        26782
4        14947
         ...
29476    28517
29477    28517
29478    28517
29479    21676
29480    21676
Name: CustomerKey, Length: 56046, dtype: int32

In [9]:
df['CustomerKey'].nunique()

17416

In [7]:
17416/56046

0.31074474538771724

In [18]:
a=df.groupby('CustomerKey')['CustomerKey'].count().reset_index(name='count')

In [22]:
a.head()

   CustomerKey  count
0        11000      7
1        11001     10
2        11002      3
3        11003      8
4        11004      5

In [23]:
a[a['count']>1].shape

(15089, 2)

In [24]:
15089/17416

0.8663872301332108